{% extends "homepage.html" %}
{% block content %}
<div id='forms1'>
    <form action='/load' method='post'>
        <label>Owne/Operator</label><br>
        <input type='text' name='owner'><br>
        <label>Load Number</label><br>
        <input type='number' name='loadnumber'><br>
        <label>Description</label><br>
        <input type'text' name='description'><br>
        <label>Line Haul Pay</label><br>
        <input type='number' name='lineHaul' ><br>
        <label>Fuel Advance </label><br>
        <input type='number' name='fuelAdvance'>
        <p>
            <div class='continueform'><button>
            <input type='submit' name='continue'></button>
            </div>
       </p>
   </form>
</div>

</div>

{% endblock %}
